	.news-background{
		z-index: 0;
		position: absolute;
		top: 80px;
		left: 225px;
		width: 1200px;
		margin: 0 auto; /* Выравнивание по центру */
		padding-bottom: 50px;
		background: #f7f7f7;
	  }
	  .news-title{
		text-align: left;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
    	font-size: 30px;
    	font-weight: bold;
		overflow-wrap: break-word;
		width: 1120px;
		padding: 0px 0px 0px 40px;
		margin-bottom: 15px;
	  }
	  .news-text{
		width: 1120px;
		overflow-wrap: break-word;
		padding: 0px 0px 0px 40px;
		font-size: 17px;
		margin-bottom: 40px;
	  }
	  .news-video{
		position: relative;
		left: 330px;
	  }
	.date,
	.category {
    display: inline-block;
    color: rgb(98, 98, 98);
	position: absolute;
    margin: 0;
	top:15px;

	}
	.date {
		left: 25px;
		}
	.category{
		text-align: right;
		right: 25px;
	}
	.poster{
		margin-right: 20px;
		height: 300px;
	}
	.poster-container{
		display: flex;
		justify-content: center;
		position: relative;
		margin: 0;
		margin-bottom: 40px;
	}