html{
	font-size: 1vw;
}
	.container {
		z-index: 0;
		position: absolute;
		top: 5rem;
		left: 14rem;
		right: 6.325rem;
		margin: 0 auto;
		padding-bottom: 3.125rem;
		background: #f0f0f000;
		}
	.block {
	position: relative;
	margin: 0;
	padding: 0.625rem;
	background: #fff;
	color: rgb(0, 0, 0);
	width: 100%;
	border: 0.25rem solid #383838;
	border-radius: 0.625rem;
	display: flex;
	align-items: flex-start;
	margin-bottom: 1.25rem;
	}
	img.news{
		position: relative;
		margin: 0;
		padding: 0;
		width: 15rem;
		border-radius: 1.25rem;
		object-fit: cover;
    	margin-right: 1.25rem;
	}
	.title{
	position: relative;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.563rem;
    font-weight: bold;
    margin: 0 0 0.625rem 0;
	overflow-wrap: break-word;
	}
	.small_text{
		margin: 0;
		font-size: 1.1rem;
		overflow-wrap: break-word;
	}
	.info {
		position: absolute;
		right: 1.25rem;
		bottom: 0.75rem;
		text-align: right; 
	}
	.date,
	.category {
    display: inline-block;
    color: rgb(98, 98, 98);
    margin: 0;
	}

	.date {
    margin-right: 0.313rem;
	}	