html{
	font-size: 1vw;
}
	.container {
		z-index: 0;
		position: absolute;
		top: 5rem;
		left: 13.438rem;
		width: 75rem;
		margin: 0 auto; /* Выравнивание по центру */
		padding-bottom: 3.125rem;
		background: #f0f0f000; /* Цвет фона левой колонки */
		}
	.block {
	margin: 0; /* Отступ слева */
	padding: 0.625rem; /* Поля вокруг текста */
	background: #fff; /* Цвет фона правой колонки */
	color: rgb(0, 0, 0);
	height: 11.25rem;
	width: 75rem;
	border: 0.25rem solid #383838;
	border-radius: 0.625rem;
	display: flex;
	align-items: flex-start;
	margin-bottom: 1.25rem;
	position: relative;
	}
	img.news{
		position: relative;
		margin: 0;
		padding: 0;
		height: 11.25rem;
		width: 22.5rem;
		border-radius: 1.25rem;
		object-fit: cover;
    	margin-right: 1.25rem;
	}
	.title{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 1.563rem;
    font-weight: bold;
    margin: 0 0 0.625rem 0;
	overflow-wrap: break-word;
	width: 52.5rem;
	}
	.small_text{
		font-size: 0.938rem;
		overflow-wrap: break-word;
		width: 52.5rem;
	}
	.info {
		position: absolute;
		right: 1.25rem;
		bottom: 0.75rem;
		text-align: right; 
	}
	.date,
	.category {
    display: inline-block;
    color: rgb(98, 98, 98);
    margin: 0;
	}

	.date {
    margin-right: 0.313rem; /* Добавим небольшой отступ между датой и категорией */
	}	